.panel3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: 50px;
    margin-bottom: 300px;
    background-size: cover;
    margin-left: 30px;
    border-radius: 15px;
    background-size: cover;
    background-color: #146166;
}